@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.dark-theme {
  background-color: #1e1e1e;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .about-me__info--para,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .scroll__icon,
.dark-theme .personal__logo {
  color: white;
  border-color: white;
}

.dark-theme section {
  background-color: #1e1e1e;
}

.dark-theme .scroll__icon::after,
.dark-theme .link__hover-effect--black::after {
  background-color: white;
}

.dark-theme .mail__btn {
  background-color: white;
  color: #40798c;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1f363d;
  /* text-align: center; */
  line-height: 1.25;
  z-index: 10;
}

h1 {
  font-size: 36px;
}

p {
  list-style: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-bottom: 3px solid #70a9a1;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

input:hover,
textarea:hover {
  border-color: white;
}

input:focus,
textarea:focus {
  border-color: #cfe0c3;
}

label {
  font-size: 14px;
  font-weight: bold;
}

/* i:hover {
  opacity: 0.7;
  transition: all 300ms ease;
} */

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  width: 0%;
  right: 0;
  bottom: -3px;
  transition: all 300ms ease;
}

.link__hover-effect--white::after {
  background-color: #fff;
}

.link__hover-effect--black::after {
  background-color: #1f363d;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 76px;
  margin-bottom: 12px;
  /* text-align: left; */
  line-height: 1;
  z-index: 2;
}

.text--color {
  color: #40798c;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

section {
  background-color: #f5f5f5;
  transition: all 300ms ease;
}

.section__title {
  text-align: center;
  margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #1f363d;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #70a9a1;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #9ec1a3;
}

.personal__logo {
  font-size: 24px;
  color: #40798c;
  margin: 0 12px;
  font-weight: bold;
}

nav,
.scroll,
header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .about-me__info {
  display: flex;
  flex-direction: column;
} */

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture-mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-pic 800ms 200ms backwards;
}

@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
}

.about-me__info--title,
.about-me__info--para,
.about-me__link {
  z-index: 2;
}

.about-me__info--title {
  /* position: absolute; */
  margin-top: 50%;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  max-width: 800px;
  /* margin-bottom: 16px; */
  animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 28px;
  /* text-align: center; */
  max-width: 480px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
  display: flex;
  justify-content: flex-start;
  animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__link {
  font-size: 16px;
  width: 32px;
  color: white;
  background-color: #40798c;
  margin-right: 24px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
  margin-bottom: 40px;
  animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hand-ani {
  display: inline-block;
  animation: animate-hand 800ms infinite ease;
}

@keyframes animate-hand {
  0% {
    transform: scale(1);
    transform: rotate(0);
  }

  50% {
    transform: scale(1.15);
    transform: rotate(5deg);
  }

  100% {
    transition: scale(1);
  }
}

.mail__btn {
  position: fixed;
  width: 70px;
  height: 70px;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #40798c;
  bottom: 32px;
  right: 40px;
  z-index: 5;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.28);
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #1f363d;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-up 650ms 800ms backwards;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  border-radius: 2px;
  background-color: #1f363d;
  animation: scroll-ani 1000ms infinite alternate-reverse;
}

@keyframes scroll-ani {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: 1;
  transition: visibility 1s, z-index 1, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal__about {
  background-color: #f8f8f8;
  transform: translateX(-110%);
}

.modal__contact {
  background-color: #1f363d;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__title--contact {
  color: white;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__sub-title--contact {
  color: white;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__submit {
  background-color: #70a9a1;
  border: 2px solid #70a9a1;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  margin-top: 8px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: #70a9a1;
  color: #cfe0c3;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #1f363d;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

/* TECH STACK */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language:hover .language__img {
  filter: brightness(80%);
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
}

.language__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 12px;
}

.language:hover .language__name {
  transform: scale(1);
}

/* PROJECTS */

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f363d;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper::before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.projects__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #1f363d;
  position: relative;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 28px;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/* SHAPES */

.shape {
  position: fixed;
  z-index: 0;
}

.shape--0 {
  top: 15vh;
  left: 5vw;
}
.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
.shape--3 {
  display: none;
  top: 50vh;
  left: 5vw;
}
.shape--4 {
  top: 50vh;
  left: 50vw;
  z-index: 0;
}
.shape--5 {
  top: 50vh;
  left: 80vw;
}
.shape--6 {
  top: 80vh;
  left: 5vw;
}
.shape--7 {
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  top: 80vh;
  left: 80vw;
}

/* Small phones,tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .title {
    font-size: 80px;
  }

  .about-me__info--title {
    padding: 20px;
  }

  .about-me__info--para {
    font-size: 20px;
    padding: 20px;
    padding-right: 48px;
  }

  .about-me__links {
    padding: 20px;
  }

  .about-me__img {
    padding: 0 20px;
  }

  .modal {
    top: 0;
    left: 0;
    height: auto;
    transform: none;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .modal__half {
    width: 100%;
  }

  /* .language {
    width: calc(100% / 3);
  } */

  .project__wrapper {
    margin: 0 20px;
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding: 30px;
  }
}

/* SMALL PHONES */

@media (max-width: 480px) {
  .nav__link:first-child {
    display: none;
  }

  .title {
    font-size: 52px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .modal__half {
    padding: 40px;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}

@media (max-width: 375px) {
  .about-me__info--para {
    padding-top: 0;
  }

  .scroll {
    display: none;
  }

  .mail__btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
    right: 24px;
    bottom: 32px;
  }

  .modal__half {
    padding: 24px;
    height: 50%;
  }

  .modal__para {
    font-size: 14px;
  }

  .form__submit {
    padding: 8px 16px;
  }

  textarea {
    height: 40px;
  }

  .language {
    width: calc(100% / 8);
    padding: 8px;
  }

  .shape {
    display: none;
  }
}
